# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
#foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
#*.[oa]
#git rm -r --cached Task1.iml
.idea/
out/
target/
Task3.iml
git